/* stylelint-disable stylistic/selector-list-comma-newline-after */

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
@font-face {
  font-family: 'Taipei Sans TC R';
  src: url('fonts/TaipeiSansTCBeta-Regular.ttf') format('truetype'); /* 替换为实际字体文件的路径 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Taipei Sans TC L';
  src: url('fonts/TaipeiSansTCBeta-Light.ttf') format('truetype'); /* 替换为实际字体文件的路径 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Taipei Sans TC B';
  src: url('fonts/TaipeiSansTCBeta-Bold.ttf') format('truetype'); /* 替换为实际字体文件的路径 */
  font-weight: normal;
  font-style: normal;
}
/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
